.vscode
.DS_Store
# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars

# Ignore override files
*.tfoverride
.terraform.*
terraform.tfstate

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc